<h1>Awesome Team of Execs<br><small>"The A-team" for short</small></h1>
<br>
<br>
<div class="row">
    <% @current_members[0..2].each do |member| %>
        <%= react_component('MemberBio', member) %>
    <% end %>
</div>
<div class="row">
    <% @current_members[3..5].each do |member| %>
        <%= react_component('MemberBio', member) %>
    <% end %>
</div>
<br>
<br>
<h1>Directors</h1>
<br>
<br>
<div class="row">
    <% @current_members[6..14].each do |member| %>
        <%= react_component('MemberBio', member) %>
    <% end %>
</div>

