<% provide(:title, "SESA | Code of Conduct")%>

<div id="code_of_conduct_container">
  <div class="row">
    <div class="small-12 columns">
      <h1>Code of Conduct</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 medium-push-1 small-12 columns">
      <p>
        The Software Engineering Student Association is dedicated to providing a harassment ­free club experience for everyone, regardless of gender, gender identity and expression, sexual orientation, ability, physical appearance, body size, race, age or religion. We do not tolerate harassment of members or event attendees in any form. Sexual language is not appropriate for any club venue or event. Participants violating these rules may be expelled from the club at the discretion of the executive committee.
      </p>
      <p>
        Harassment includes offensive verbal comments related to gender, gender identity and expression, sexual orientation, ability, physical appearance, body size, race, age, religion, sexual images in public spaces, deliberate intimidation, stalking, following, inappropriate physical contact, and unwelcome sexual attention. This includes posting derogatory pictures, slurs or otherwise of members, alumni, or any other attendees on social media channels. Members asked to stop any harassing behavior are expected to comply immediately.
      </p>
      <p>
        Guests at SESA hosted events or similar activities are also subject to the anti-­harassment policy. In particular, guests should not use sexualized images, activities, or other material. All guests should not use inappropriate clothing/uniforms/costumes, or otherwise create a hostile and/or offensive environment.
      </p>
      <p>
        If a participant engages in harassing behavior, the executive committee may take any action they deem appropriate, including warning the offender or expulsion from the club or event. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact an executive member immediately. We value all our members safety and expect participants to follow these rules at all club related social events.
      </p>
      <br>
      <br>
      <p>
        This code of conduct is a modified version of CUSEC's code of conduct available at
        <a href="http://2016.cusec.net/coc.html">2016.cusec.net/coc.html</a>.
      </p>
    </div>
  </div>
</div>
