<% provide(:title, "SESA | Contact")%>

<div id="contact-container-1">
  <h1>Get Connected</h1>
</div>

<div class="contact-container-2">
	  <div style="max-width: 85rem;">
	  Join our <%= link_to 'facebook','https://www.facebook.com/groups/uOttawaSESA', target: '_blank'%>
	Send us an <%= mail_to "uottawa.sesa@gmail.com", "email", encode: 'hex' %>!
	Get in touch with the Associate Director for Software Engineering: Liam Peyton <%= mail_to "lpeyton@uottawa.ca", "lpeyton@uottawa.ca", encode: 'hex' %>
	</div>
</div>