<% provide(:title, "SESA | Course Advice")%>

<span class="course"></span>

<div id="course-container-1">
	<h1>course advice</h1>
</div>

<br><br><br>

<div id= "course-container-2">
	<div class="row">
		 <div class="medium-6 columns">
         
                  <h1>Course Help</h1>
                  <p>Some courses throughout your udergrad may be challenging.</p>
                  
                  <br>
              <p>
				<strong>CEG3185/CEG3585</strong><br><br>
				
				SEG and CSI students often find this course challenging due to the phyiscs and math in the course.
				Here is a <%= link_to 'list of tutorials','http://www.site.uottawa.ca/~lpeyton/cegtutorials/', target: '_blank' %> that have been put together to help students.
				ALSO, this text book by Behrouz A. Forouzan is recommended. It is much easier to understand than the book by Stallings and has good practice questions.
			</p>
         
        </div>
        <div class="medium-6 columns">
                  <h1>New Courses</h1>
                  <p>Upcoming courses you should consider!</p>
                  <br>
                  <p>
				<strong> SEG3904 Innovation Research Project </strong><br><br>
				
				Looking for a technical elective? <%= link_to 'SEG3904', 'http://www.uottawa.ca/academic/info/regist/calendars/courses/SEG.html#SEG3904', target: '_blank' %> allows you to receive credit for work you do on an innovation research project as long as it is supervised by a software engineering professor.Here is how it works: 
				<br>
				<div class="list">
					1) You find a Software Engineering Professor or any professor with a P.Eng. who agrees to supervise your project.
					<br>
					2) Write up a proposal that both you and the professor agree to <!-- – here is an example proposal -->
					<br>
					3) You submit the proposal via email to the <%= link_to 'Associate Director, Software Engineering', 'http://engineering.uottawa.ca/eecs/', target: '_blank'%> for feedback and approval.
					<br>
					4) Register for SEG3904 at the undergraduate office on first floor SITE <!-- using this form. -->You can register for SEG3904 in any semester. 
				</div>
			</p>
        </div>
	</div>
</div>
