<span class="events"></span>

<div id="events-container-1">
	<h1>Events</h1>
</div>

<div class="events-container">
	<%= image_tag 'ruby_tutorial_banner.jpg', alt: 'Ruby on Rails Tutorial Banner' %>
</div>

<div class="events-container">
	<%= image_tag 'sitebannerevent.jpg', alt: 'Tech Talk' %>
</div>

<div class="events-container">
	<%= image_tag 'elads-event.jpg', alt: 'Elads event Banner' %>
</div>
