<% provide(:title, "SESA | Events")%>

<span class="events"></span>

<div id="events-container-1" data-stellar-background-ratio="0.5">
  <h1>Events</h1>
</div>

<div id="events-container-2" >
  <div class="row" style="max-width: 85rem;">
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= image_tag 'startup-weekend-banner.png', class: 'effect-apollo', alt: 'Startup Weekend UOttawa Banner' %>
    </div>

  <!-- OLD EVENTS -->
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= image_tag 'ruby_tutorial_banner.jpg', class: 'effect-apollo', alt: 'Ruby on Rails Tutorial Banner' %>
    </div>
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= image_tag 'sitebannerevent.jpg', class: 'effect-apollo', alt: 'Tech Talk' %>
    </div>
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= image_tag 'elads-event.jpg', class: 'effect-apollo', alt: 'Elads event Banner' %>
    </div>
  </div>
</div>
