<span class="events"></span>

<div id="events-container-1">
	<h1>Events</h1>
</div>

<br><br><br>

<div id="events-container-2">

	<div class="row" style="max-width: 80rem; padding: 20px;">
		<span class='title'> Meet N Greet</span><br><br>

		<strong>Date: </strong>Friday, September 11<br>
		<strong>Time: </strong>6 PM<br>
		<strong>Location: </strong>SITE, Room: F0126<br><br>

		For our first study-session we're going to make it a Meet N Greet, so all you first years can meet the team and speak to us on a 1-on-1 level. We're going to try to utilize the same room all year to help you guys out. First year is the hardest year for most students, so come on down and have some <span style="color: #990012;">free coffee and donuts</span> with the team that can help you all year round. 
	</div>

</div>