<% provide(:title, "SESA | Events")%>

<span class="events"></span>

<div id="events-container-1">
  <h1>Events</h1>
</div>

<div class="events-container-aligner">
  <div style="max-width: 85rem;">
    <% @events.each do |event| %>
      <% if event[:type] == 'recurring' %>
        <% unless @recurring_status_posted %>
          <% @recurring_status_posted = true %>
          <h3><i class="fa fa-refresh fa-spin"></i> <strong>RECURRING</strong></h3>
        <% end %>
      <% end %>
      <% if event[:type] == 'upcoming' %>
        <% unless @upcoming_status_posted %>
          <% @upcoming_status_posted = true %>
          <h3><i class="fa fa-fire"></i> <strong>UPCOMING</strong></h3>
        <% end %>
      <% end %>
      <% if event[:type] == 'completed' %>
        <% unless @past_status_posted %>
          <% @past_status_posted = true %>
          <h3><i class="fa fa-check-square"></i> <strong>COMPLETED</strong></h3>
        <% end %>
      <% end %>
      <div style="max-width: 85rem;">
        <%= link_to(image_tag("#{event[:banner]}", class: 'effect-apollo events-images', alt: "#{event[:event]}"), "#{event[:facebook_url]}") %>
      </div>
    <% end %>
  </div>
</div>
