<% provide(:title, "SESA | Events")%>

<span class="events"></span>

<div id="events-container-1">
  <h1>Events</h1>
</div>

<div id="events-container-2" >
  <div class="row" style="max-width: 85rem;">
    <% current_running = @events.pop %>
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= link_to(image_tag("data:image/png;base64, #{current_running[:banner_b64]}", class: 'effect-apollo', alt: "#{current_running[:event]}"), "#{current_running[:facebook_url]}") %>
    </div>
    <!-- PREVIOUS EVENTS -->
    <h3>PAST EVENTS</h3>
    <div id="events-container-2" >
      <div class="row" style="max-width: 85rem;">
        <% @events.each do |event| %>
          <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
            <%= link_to(image_tag("data:image/png;base64, #{event[:banner_b64]}", class: 'effect-apollo', alt: "#{event[:event]}"), "#{event[:facebook_url]}") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
