<span class="fya"></span>

<div id="fya-container-1">
	<h1>first year advice</h1>
</div>

<br><br><br>

<div id="fya-container-2">
	<div class="row" style="max-width: 80rem;">
		<div class="small-12 medium-4 columns">
			<span>Budgeting</span><br><br>
						
		</div>
		<div class="small-12 medium-4 columns">
			<span>Time management</span><br><br>

		</div>
		<div class="small-12 medium-4 columns">
			<span>Goal setting</span><br><br>

		</div>
	</div>
</div>

<div id="fya-container-3">

</div>