
<div class="center">
  
  <h1>Software Engineering Student Association </h1>

  <p>
  	Welcome to our first web site. 
  	I hope you enjoy your brief stay :)
  </p>
  <%= image_tag "club.png"%>
</div>
