
<div class="center">
  
  <h1>Software Engineering Student Association </h1>

  <div class="quotes">
		<p>If you can dream it, you can do it<br>-Walt Disney</p>
  </div>

<h2>Dear new recruits,</h2>
<p class="recruit-text" >Thank you for joining this very young association. Our only intent 
is to add-on to the university dream of being a
fundamental part of society as engineers to produce a better future, for not 
only ourself, but of our communities.</p>
<div class="border"></div>
<div class="center">
	<%= image_tag "club.png", size: "700x900", alt: "The Abyss"%>
</div>
