<div class="center">
  
  <h1>Hello World! <small>By Menelik Tucker</small></h1>

  <p>
  	Welcome to my first web site. 
  	I hope your enjoy your brief stay. :)
  </p>
  <div>
  <%= link_to "link", '#', class: "btn btn-large btn-primary" %>
  </div>
</div>
