
<div class="center">
  
  <h1>Software Engineering Student Association </h1>

  <div class="quotes">
		<p>If you can dream it, you can do it<br>-Walt Disney</p>
  </div>

<div class="border"></div>

<h2>Dear new recruits,</h2>
<p class="recruit-text" >Thank you for joining this very young association. Our only intent 
is to add-on to the university dream of being a
fundamental part of society as engineers to produce a better future, for not 
only ourself, but of our community.<br><br>-Hugh, Vice President</p>

<div class="border"></div>

<div class="home-page-img">
	<%= image_tag "club.png", size: "700x900", alt: "The Abyss"%>
</div>

<div class="border"></div>

<p class="recruit-text">
	“If you listen real close, you can hear them whisper their legacy to you. Go on, lean in. Listen, you hear it? - Carpe - hear it? – Carpe, Carpe Diem, seize the day boys, make your lives extraordinary.” 
	<br>-N.H. Kleinbaum, Dead Poets Society
</p>

</div>