<% provide(:title, 'Meet The Team') %>

<div class="people-container">
	<div class="people-container-text">
		<h2 class="heading">VP Social and Communication<br>
			<span class="inner-text">
				Kat Drobnjakovic.
			</span>
			<span class="outter-text">
				#GirlPower
			</span>
		</h2>
	</div>
	<div class="people-container-pic">
		<%= image_tag "kat.png", size: "400x400", alt: "Kat"%>
	</div>
</div>

<div class="people-container">
<div class="people-container-pic">
		<%= image_tag "hugh.png", size: "400x400", alt: "Hugh"%>
	</div>
	<div class="people-container-text">
		<h2 class="heading">Vice President<br>
			<span class="inner-text">
				Hugh Nguyen.
			</span>
			<span class="outter-text">
				#DoYou
			</span>
		</h2>
	</div>
	
<div class="people-container">
	<div class="people-container-text">
		<h2 class="heading">VP Website <br>
			<span class="inner-text">
				Menelik Tucker.
			</span>
			<span class="outter-text">
				#Winning
			</span>
		</h2>
	</div>
	<div class="people-container-pic">
		<%= image_tag "menelik.png", size: "400x400", alt: "Menelik"%>
	</div>
</div>

</div>