<% provide(:title, "SESA | Open Positions")%>
<section id="positions-main" class="uottawa-overlay">
  <div class="uottawa-flexbox-container" style="height: 100%">
    <h1 style="font-size: 4em; color: #FFFFFF">Open Positions</h1>
  </div>
</section>
<section id="positions-open">
  <div class="uottawa-flexbox-container" style="margin-top:2vh;">
    <ul class="accordion" data-accordion data-multi-expand="true" style="max-width: 900px;">
      <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title">Software Developer</a>
        <div class="accordion-content" data-tab-content>
          As a Software Dev for the Software Engineering Student Association, your main focus will be on managing and providing suggestions to improve technology pertaining to SESA.
          <br/>
          <br/>
          <strong>Responsibilities:</strong>
          <ul>
            <li>Managing SESA’s website</li>
            <li>Create new software/applications for SESA</li>
            <li>Host some tutorials for other students about specific programming languages</li>
          </ul>
          <br/>
          <strong>Requirements:</strong>
          <ul>
            <li>Capable in at least two programming languages (Ruby on Rails is preferred)</li>
            <li>Quickly pick up the basics of any programming language</li>
            <li>Take initiative regarding your role as a part of SESA</li>
            <li>Team player</li>
          </ul>
          <br/>
          <a href="https://goo.gl/forms/oRtnSRx5pJp7EZYv2" target="_blank" class="button success small" style="border: 1px solid white">Apply</a>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Technology Writer</a>
        <div class="accordion-content" data-tab-content>
          As a Technology Writer for the Software Engineering Student Association, your main focus will be on managing and creating new content for SESA’s <a href="https://goo.gl/mNuM7W" target="_blank">newsletter</a>.
          <br/>
          <br/>
          <strong>Responsibilities:</strong>
          <ul>
            <li>Gather information to write about the latest and greatest technology</li>
            <li>Use different forms of media such as photographs, videos, screenshots, drawings, charts, and so on to convey a message</li>
            <li>Being creative with your writing</li>
          </ul>
          <br/>
          <strong>Requirements:</strong>
          <ul>
            <li>Have a basic understanding of different types of technology and technological trends</li>
            <li>Strong written, oral, and communication skills in English (Bilingual is preferred)</li>
            <li>Take initiative regarding your role as a part of SESA</li>
            <li>Team player</li>
          </ul>
          <br/>
          <a href="https://goo.gl/forms/oRtnSRx5pJp7EZYv2" target="_blank" class="button success small" style="border: 1px solid white">Apply</a>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Newsletter Editorial Staff</a>
        <div class="accordion-content" data-tab-content>
          As a Newsletter Editor for the Software Engineering Student Association, your main focus will be on managing and creating new content for SESA’s newsletter.
          <br/>
          <br/>
          <strong>Responsibilities:</strong>
          <ul>
            <li>Gather information to write about the events hosted by SESA</li>
            <li>Report the latest news regarding technology and entrepreneurship at uOttawa</li>
            <li>Use different forms of media such as photographs, videos, screenshots, drawings, charts, and so on to convey a message</li>
            <li>Being creative with your writing</li>
          </ul>
          <br/>
          <strong>Requirements:</strong>
          <ul>
            <li>Up to date with the latest events and news for uOttawa</li>
            <li>Strong written, oral, and communications skills in English (Bilingual is preferred)</li>
            <li>Take initiative regarding your role as a part of SESA</li>
            <li>Team player</li>
          </ul>
          <br/>
          <a href="https://goo.gl/forms/oRtnSRx5pJp7EZYv2" target="_blank" class="button success small" style="border: 1px solid white">Apply</a>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Head of the Creative Team</a>
        <div class="accordion-content" data-tab-content>
          As Head of Creative you are responsible for managing all the media created and hosted by SESA. That is our blog, YouTube channels, banners, posters, photographs, and so on.
          <br/>
          <br/>
          <strong>Responsibilities:</strong>
          <ul>
            <li>Managing the storage and organization of the media</li>
            <li>Making sure creative media is delivered on time</li>
            <li>Scheduling upload times for videos</li>
            <li>Ensuring the resources for creating our media content are available</li>
          </ul>
          <br/>
          <strong>Requirements:</strong>
          <ul>
            <li>Some kind of past management experience (For example, in a school club or you were a team leader at a job etc.)</li>
            <li>Strong written, oral, and communications skills in English (Bilingual is preferred)</li>
            <li>A small portfolio of any kind of creative work</li>
            <li>Take initiative regarding your role as a part of SESA</li>
            <li>Team player</li>
          </ul>
          <br/>
          <a href="https://goo.gl/forms/oRtnSRx5pJp7EZYv2" target="_blank" class="button success small" style="border: 1px solid white">Apply</a>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Photographer</a>
        <div class="accordion-content" data-tab-content>
          As a Photographer you are responsible for photographing all events hosted by SESA.
          <br/>
          <br/>
          <strong>Responsibilities:</strong>
          <ul>
            <li>Photographing events at uOttawa</li>
            <li>Organizing and storing all the photos pertaining to SESA</li>
          </ul>
          <br/>
          <strong>Requirements:</strong>
          <ul>
            <li>Small portfolio of any photography you have done</li>
            <li>Capable with software from the Adobe Creative Cloud Suite</li>
            <li>Present at all SESA events</li>
            <li>Take initiative regarding your role as a part of SESA</li>
            <li>Team player</li>
          </ul>
          <br/>
          <a href="https://goo.gl/forms/oRtnSRx5pJp7EZYv2" target="_blank" class="button success small" style="border: 1px solid white">Apply</a>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Videographer</a>
        <div class="accordion-content" data-tab-content>
          As a Videographer you are responsible for creating content for SESA’s YouTube channel.
          <br/>
          <br/>
          <strong>Responsibilities:</strong>
          <ul>
            <li>Recording events at uOttawa</li>
            <li>Organizing and storing all the video pertaining to SESA</li>
            <li>Creating video tutorials, or video highlights, or video advertisements</li>
          </ul>
          <br/>
          <strong>Requirements:</strong>
          <ul>
            <li>Small portfolio of any videos you have created</li>
            <li>Capable with software from the Adobe Creative Cloud Suite</li>
            <li>Present at all SESA events</li>
            <li>Take initiative regarding your role as a part of SESA</li>
            <li>Team player</li>
          </ul>
          <br/>
          <a href="https://goo.gl/forms/oRtnSRx5pJp7EZYv2" target="_blank" class="button success small" style="border: 1px solid white">Apply</a>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Business Outreach Leader</a>
        <div class="accordion-content" data-tab-content>
          As an Outreach Leader you are responsible for contacting companies, industry leaders, mentors, entrepreneurs and so on.
          <br/>
          <br/>
          <strong>Responsibilities:</strong>
          <ul>
            <li>Meeting with company representatives</li>
            <li>Obtaining sponsorships</li>
            <li>Organizing talks for students to meet and listen to professionals in the industry</li>
          </ul>
          <br/>
          <strong>Requirements:</strong>
          <ul>
            <li>Consistently communicating with different businesses for SESA</li>
            <li>Taking advantage of every opportunity provided and informing the SESA team about them</li>
            <li>Create collaborations or events with organizations</li>
            <li>Take initiative regarding your role as a part of SESA</li>
            <li>Team player</li>
          </ul>
          <br/>
          <a href="https://goo.gl/forms/oRtnSRx5pJp7EZYv2" target="_blank" class="button success small" style="border: 1px solid white">Apply</a>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Social Media Engagement Lead</a>
        <div class="accordion-content" data-tab-content>
          As a Social Media Leader you are responsible for managing SESA’s Twitter, Snapchat, and Instagram.
          <br/>
          <br/>
          <strong>Responsibilities:</strong>
          <ul>
            <li>Scheduling certain Tweets</li>
            <li>Using social media during events hosted by uOttawa or SESA</li>
            <li>Advertising talks for students to meet and listen to professionals in the industry</li>
          </ul>
          <br/>
          <strong>Requirements:</strong>
          <ul>
            <li>Strong written, oral, and communication skills in English (Bilingual is preferred)</li>
            <li>Position SESA positively to the public</li>
            <li>Present at all events hosted by SESA</li>
            <li>A working mobile phone with a camera</li>
            <li>Consistently communicating with others over social media</li>
            <li>Take initiative regarding your role as a part of SESA</li>
            <li>Team player</li>
          </ul>
          <br/>
          <a href="https://goo.gl/forms/oRtnSRx5pJp7EZYv2" target="_blank" class="button success small" style="border: 1px solid white">Apply</a>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Occasional Helper</a>
        <div class="accordion-content" data-tab-content>
          As an Occasional Helper you are someone who is unsure what position they would like to apply for or you have some free time to lend SESA a hand.
          <br/>
          <br/>
          <strong>Requirements:</strong>
          <ul>
            <li>Positive attitude</li>
            <li>Team player</li>
          </ul>
          <br/>
          <a href="https://goo.gl/forms/oRtnSRx5pJp7EZYv2" target="_blank" class="button success small" style="border: 1px solid white">Apply</a>
        </div>
      </li>
      <!-- ... -->
    </ul>
  </div>
</section>
