<p style="	font: 400 1.5em 'Open Sans', sans-serif;color: #333;letter-spacing: 1px;">
	Thanks for joining SESA <%= @first_name %>!
</p>

<p style="	font: 300 1.1em 'Open Sans', sans-serif;color: #555;">
	 We look forward to meeting you at our next event.
	 <br><br>
	 We will get back to you as soon as possible to see if they're any positions available that will meet your preference, you can contact our president at hnguy104@uottawa.ca.
	 <br><br>
	 Regards,<br>
	 The SESA team
</p>
