<p style="	font: 400 1.5em 'Open Sans', sans-serif;color: #333;letter-spacing: 1px;">
	Thanks for joining SESA <%= @first_name %>!
</p>

<p style="	font: 300 1.1em 'Open Sans', sans-serif;color: #555;">
	 We look forward to meeting you at our next event.
	 <br><br>
	 If you want to get involved and help out, you can contact our president at hnguy104@uottawa.ca.
	 <br><br>
	 Regards,<br>
	 The SESA team
</p>
