@import "bootstrap";

/* universal */

body {
  /*
  background-image: url("girl.png"); 
  */
  background-color: #722F37;
  padding-top: 45px;
}

.quotes p{
  text-align: center;
  font-size: 15px;
  font-family: Helvetica regular;
  margin-left: 50px;

}

#container{
  height: auto;
  width: 980px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-radius:10px 10px 10px 10px;
  margin-bottom: 10px;

  moz-box-shadow: 0 0 5px 5px #502F37;
  webkit-box-shadow: 0 0 5px 5px #502F37;
  box-shadow: 0 0 5px 5px #502F37;

}

.center {
  text-align: center;
}

.center h1 {
  width: 880px;
  margin-left: 50px;
  margin-bottom: 10px;  
  padding-bottom: 20px;
  border-bottom: gray;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: black;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 60px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: black;
  padding-left: 50px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  text-decoration: none;
}

/* footer */

footer {
  width: 1000px;
  margin: 0px auto;
  color: white;
}

footer a {
  color: black;
}

footer a:hover {
  color: #999;
  text-decoration: none;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  padding-top: 8px;
  padding-right: 5px;
}
  