@import "bootstrap";

/* universal */

body {

  background-color: #722F37;
  padding-top: 60px;
}

.quotes p{
  text-align: center;
  font-size: 15px;
  font-family: Helvetica regular;
  padding-top: 30px;
}

#container{
  height: auto;
  width: 980px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-radius:10px 10px 10px 10px;
  margin-bottom: 10px;
  -moz-box-shadow: 0 0 5px 5px #502F37;
  -webkit-box-shadow: 0 0 5px 5px #502F37;
  box-shadow: 0 0 5px 5px #502F37;
}

.home-page-img {
  text-align: center;
  padding-bottom: 20px;

  img {
   border-radius: 10px;
  }
}

.center h1 {
  text-align: center;
  width: 880px;
  margin-left: 50px;
  margin-bottom: 0px;  
  padding-bottom: 20px;
  border-bottom: gray;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  color:#444;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: -3px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}  

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 40px;
  color:#333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  color: #555;
  padding-left: 50px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


#logo {
  float: left;
  margin-right: 10px;
  line-height: 1;
}

#sesa {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

}

#sesa:hover {
  text-decoration: none;
}

.recruit-text {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.border {

  border-bottom: #999;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width:500px;
  margin-left: 240px;
  margin-bottom: 20px;
}

.meet-border {
  border-bottom: #999;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width:900px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
 
}
/* footer */

#footer {
  width: 980px;
  margin: 0px auto;
  color: white;
  padding-left: 20px;

}

#footer p{
  display: inline-block;
}

.people-container{
  padding:10px;
  padding-left: 55px;
}
  
.people-container-pic {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;

  img {
    border-radius: 5px;
  }
}

.people-container-text {
  width:450px;
  display:inline-block;
  text-align: left;
  font-size: 30px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
  
.heading {
  line-height: 1;
  letter-spacing: -1px;
  color: #333;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.inner-text{
  color:#999;
}

.outter-text{
  color:#222;
  font-size: 20px;
}

.social-links {
  display: inline-block;
  text-align: right;
  padding-left: 750px;
}
  
