
.form {
  padding-left: 50px;
  font-size: 5em;
  letter-spacing: 1px;
  color:#333;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.back-button {
	margin-left: 50px;
	-webkit-appearance: button;
	cursor: pointer;
	width: 50px;
	text-align: center;
}

.new-button {
	margin-top: 50px;
	margin-left: 50px;
	-webkit-appearance: push-button;
	cursor: pointer;
	width: 100px;
	padding: 2px 6px;
	text-align: center;
}

a{
	color:black;
}

a:hover {
	color:black;
	text-decoration: none;
}

.new-page {
	padding-top: 50px;
}

.actions {

  	margin-left: 50px;
  	font-size: 5em;
  	letter-spacing: 1px;
  	color:#333;
 	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-size: 1em;
  	color:black;

}

.actions a{
	color:red;
}

.event-post{
	padding-left: 50px;
}

.title{
	padding-top: 30px;
	color:#555;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:25px;
	margin-bottom: 10px;
	letter-spacing: -1px;
}

.sign{
	color:#888;
}

.body{
	color:#333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
	margin-bottom: 10px;
	padding-right: 100px;
}

.space {
	padding-top:20px;
}
