/*
.event-posts {

	.event-post {

		margin:20px 0;

		.title {
			text-transform: capitalize;
				
			font-size:1.5em;
			font-family: Arial;
			border-width: 1px;
			border-top:solid;
			border-color: #808080;
		}

		.body {
			
			font-family: Arial;
		}

		.sign {
			
			font-family: Arial;

		}
		.actions {
			background:#777;


			a {
				color:black;
				text-decoration:none;
			}
		}

	}

}
*/