#events-container-1{
	background-image: image-url('space.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;	
	text-transform: uppercase;
	min-height: 480px;
}

#events-container-1 h1 {
	width: 100%;
	font-size: 	5rem;
	font-weight: 200;
	letter-spacing: 0.2em;
	text-align: center;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.events-container{
	position: relative;	
	text-transform: uppercase;
    display: block;
    width: 100% !important;
    height: auto !important;
    background-color: black;

    img {
    	display: block;
    	margin: 0 auto;
    }
}
