#fya-container-1{
	background-image: image-url('books_v2.jpg');
	background-size: cover;
	position: relative;	
	text-transform: uppercase;
	min-height: 480px;
	height: 85vh;
}

#fya-container-1 h1 {
	width: 100%;
	font-size: 	5rem;
	font-weight: 200;
	letter-spacing: 0.2em;
	text-align: center;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#fya-container-2{
	position: relative;	
	& .row {
		font-family: 'Open Sans', sans-serif;
		color: #333;
		font-size: 1.1rem;	
		line-height: 1.2rem;

		& > span {
			display: inline-block;
			padding: 50px;
			position: relative;
		}
	
	& hr {
		background-image: -webkit-linear-gradient(left,rgba(000,000,000,0),rgba(000,000,000,0.25),rgba(000,000,000,0));
	 	background-image: -o-linear-gradient(left,rgba(000,000,000,0),rgba(000,000,000,0.25),rgba(000,000,000,0));
	 	background-image: -moz-linear-gradient(left,rgba(000,000,000,0),rgba(000,000,000,0.25),rgba(000,000,000,0));
	 	background-image: linear-gradient(left,rgba(000,000,000,0),rgba(000,000,000,0.25),rgba(000,000,000,0));
	}

	}
}

#fya-container-2 .medium-12.large-4.columns{

	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size: 1rem;	
	line-height: 1.5;
	margin-bottom: 50px;

	& span {
		font-family: 'Raleway', Arial, Helvetica, sans-serif;
		color: #990012;
		font-size: 2rem;
		text-transform: uppercase;
		letter-spacing: 2px;
    margin-bottom: 30px;
	}
}

#fya-container-2 .medium-12.large-4.columns a{
	color: #333;
	text-decoration: none;
	display: block;
	width: 200px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	border: 1px solid #aaa;
	margin: 50px auto 0;
  transition: all 250ms linear;

	&:hover{
		color: #990012;
    border-color: #990012;
	}
}

.burger {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;

	& path:nth-child(1){
		-webkit-transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 10, -7);
		-moz-transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 10, -7);
		-o-transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 10, -7);
		transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 10, -7);
	}

	& path:nth-child(2){
		-webkit-transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -10, 8);
		-moz-transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -10, 8);
		-o-transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -10, 8);
		transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -10, 8);
	}
}

#fya-container-3 .row{
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size: 1.1rem;	
	line-height: 1.2rem;

	& > .title {
		display: block;
		color: #3c763d;
		text-transform: uppercase;
		font-family: 'Raleway', Arial, Helvetica, sans-serif;
		font-size: 2rem;
		text-align: center;
		padding: 40px 0;
	}
}

.general-advice {
	background-color: #eee;
	margin-bottom: 50px; 
	padding-top: 60px;

  a{
    color: #990012 !important;
  }
}

.course-advice {
  background-color: #eee;
  margin: 0 0 50px; 
  padding: 50px;
	display: block;

  a{
    color: #990012 !important;
  }

}

#fya-container-3 .small-12.medium-4.columns a{
	color: #fff;
	text-decoration: none;
	width: 200px;
	height: 200px;
	margin-top: 15px;
	line-height: 20px;
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 10px auto;
	display: block;
	background-color: #7bc8a4;
	overflow-wrap: break-word;
	-webkit-transition: 200ms linear; 
    -moz-transition: 200ms linear;
    -o-transition: 200ms linear;
    transition: 200ms linear;
	&:hover{
		color: #7bc8a4;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		transform: scale(1.05);
		background-color: #fff;
		border: 1px solid #7bc8a4;

	}
}

.center-text {
	display: table-cell;
	vertical-align: middle;
	width: 200px;
	height: 200px;
}







