#fya-container-1{
	background-image: image-url('books_v2.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;	
	text-transform: uppercase;
	min-height: 480px;
}

#fya-container-1 h1 {
	width: 100%;
	font-size: 	5rem;
	font-weight: 200;
	letter-spacing: 0.2em;
	text-align: center;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	color: #fff;
	display: table;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: auto;
	position: absolute;
}

#fya-container-2{
	position: relative;	

	& .row {
		font-family: 'Open Sans', sans-serif;
		color: #333;
		font-size: 1.1rem;	
		line-height: 1.2rem;

		& > span {
			display: inline-block;
			padding: 15px 10px;
			position: relative;
		}
	
	& hr {
		background-image: -webkit-linear-gradient(left,rgba(000,000,000,0),rgba(000,000,000,0.25),rgba(000,000,000,0));
	 	background-image: -o-linear-gradient(left,rgba(000,000,000,0),rgba(000,000,000,0.25),rgba(000,000,000,0));
	 	background-image: -moz-linear-gradient(left,rgba(000,000,000,0),rgba(000,000,000,0.25),rgba(000,000,000,0));
	 	background-image: linear-gradient(left,rgba(000,000,000,0),rgba(000,000,000,0.25),rgba(000,000,000,0));
	}

	}
}

#fya-container-2 .medium-12.large-4.columns{

	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size: 1.1rem;	
	line-height: 1.2rem;
	margin-bottom: 25px;
	& span {
		font-family: 'Raleway', Arial, Helvetica, sans-serif;
		color: #990012;
		font-size: 2rem;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

#fya-container-2 .medium-12.large-4.columns a{
	color: #333;
	text-decoration: none;
	display: block;
	width: 200px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	border: 1px solid #aaa;
	margin: 15px auto 0;
	&:hover{
		color: #990012;
	}
}

.burger {
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;

	& path:nth-child(1){
		-webkit-transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 10, -7);
		-moz-transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 10, -7);
		-o-transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 10, -7);
		transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 10, -7);
	}

	& path:nth-child(2){
		-webkit-transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -10, 8);
		-moz-transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -10, 8);
		-o-transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -10, 8);
		transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -10, 8);
	}
}

#fya-container-3 .row{
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size: 1.1rem;	
	line-height: 1.2rem;
}

#fya-container-3 .small-12.medium-4.columns a{
	color: #333;
	text-decoration: none;
	width: 200px;
	height: 200px;
	margin-top: 15px;
	line-height: 20px;
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 10px auto;
	display: flex;
	justify-content: center; 
	align-items: center; 
	background-color: #eee;
	overflow-wrap: break-word;
		-webkit-transition: 200ms linear; 
    -moz-transition: 200ms linear;
    -o-transition: 200ms linear;
    transition: 200ms linear;
	&:hover{
		color: #990012;
		-webkit-transform: scale(1.05);
		background-color: #fff;
		border: 1px solid #aaa;

	}
}








