body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  color: #333;
}

a{
  &::visited{
    color: #333;
  }
}

.no-margin{
  margin: 0 !important; 
}

.main-container {
  position: relative;
  padding-top: 60px;
}

@media screen and (max-width: 1200px) {
  .main-container {
    position: relative;
    padding-top: 0px;
  }
}

.notice {
  position: absolute;
  background-color: #98fb98;
  font-color: #000000;
  padding: 17.5px;
  z-index: 20;
  opacity: 0.8;
}
.alert {
  position: absolute;
  background-color: #FF4258;
  font-color: #000000;
  padding: 17.5px;
  z-index: 20;
  opacity: 0.8;
}

@media screen and (min-width: 800px) {

  #events-container-1, #fya-container-1, #home-container-1, #home-container-3{
    background-attachment: fixed;
  }

}