header{
  position: fixed;
  transition: all 250ms linear;
  width: 100vw;
  display: none;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #eee;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  .header-row{
    max-width: 40rem;
  }

  .columns{
    padding: 0;
  }

  a{
    height: 60px;
    line-height: 60px;
    color: #333;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    overflow: hidden;
    font-size: 0.85rem;
    transition: all 150ms linear;

    & span{
      position: relative;
    }

    & span::after{
      opacity: 0;
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 115%;
      right: 0;
      background: #990012;
      transform: translate3d(-100%,0,0);
      transition: transform 0.3s;
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }

    &:hover span::after{
      transform: translate3d(0,0,0);
      opacity: 1;
    }

    &:hover {
      color: #990012;
      background-color: #fff;
    }

    &:visited{
      color: #333;
    }

    &:after {
      color: #333;
    }

    &:active {
      color: #333;
    }

    &:before {
      color: #333;
    }

  }

}

.hamburger {
  display: none;
  position: fixed;
	right: 20px;
	top: 10px;
  z-index: 4;
	cursor: pointer;
  transition: all 250ms;
    
	&:hover {
		width: 36px;
		height: 36px;
	}
}

.hamburger path:nth-child(1) {
	transition: all 250ms;
}

.hamburger path:nth-child(3) {
	transition: all 250ms;
}

@media screen and (min-width: 1025px) {
  header{
    display: block !important;
  }
}
@media screen and (max-width: 1025px) {
  .hamburger {
    display: block;
  }

  .header-row{
    max-width: 100vw !important;
  }
}
