header {
	height: 70px;
  width: 100%;
	background-color: #eee;
	z-index: 2;
	line-height: 70px;
	text-align: center;
	letter-spacing: 1px;
	position: fixed;
  transition: 250ms linear;
  	-webkit-transition: 250ms linear; 
    -moz-transition: 250ms linear;
    -o-transition: 250ms linear;
}

header .row {
  opacity: 1;
  display: block;
}

.header-row {
  max-width: 80rem; 
  height: 70px;
}

header .columns {
	padding: 0;
}

header a {
	color: #333;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	display: block;
  transition: 150ms linear;
	  -webkit-transition: 150ms linear; 
    -moz-transition: 150ms linear;
    -o-transition: 150ms linear;
    
	&:hover {
		color: #990012;
		background-color: #fff;
	}

	&:after {
		color: #333;
	}

	&:active {
		color: #333;
	}

	&:before {
		color: #333;
	}
}

.hamburger {
  display: none;
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
  transition: 250ms;
	  -webkit-transition: 250ms; 
    -moz-transition: 250ms;
    -o-transition: 250ms;
    
	&:hover {
		width: 36px;
		height: 36px;
	}
}

.hamburger path:nth-child(1) {
	transition: 250ms;
    -webkit-transition: 250ms; 
    -moz-transition: 250ms;
    -o-transition: 250ms;
}

.hamburger path:nth-child(3) {
	transition: 250ms;
    -webkit-transition: 250ms; 
    -moz-transition: 250ms;
    -o-transition: 250ms;
}

@media screen and (max-width: 1100px) {
  header .row {
    opacity: 0;
    display: none;
  }

  header {
    background-color: initial;
    position: fixed;
    height: 0px;
  }

  .hamburger {
    position: fixed;
    display: block;
  }

  header.displayed {
    height: 420px;
    background-color: #eee;
    position: fixed;
  }

  header.displayed .row {
    display: block;
  }
}