header{

	height: 70px;
	background-color: #eee;
	z-index: 2;
	line-height: 70px;
	text-align: center;
	letter-spacing: 1px;
	-webkit-transition: 250ms linear; 
    -moz-transition: 250ms linear;
    -o-transition: 250ms linear;
    transition: 250ms linear;
}


header .medium-12.large-2.columns{
	padding: 0;
}

header .medium-12.large-1.columns{
	padding: 0;
}

header a {
	color: #333;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	display: block;
	-webkit-transition: 150ms linear; 
    -moz-transition: 150ms linear;
    -o-transition: 150ms linear;
    transition: 150ms linear;
	&:hover{
		color: #990012;
		background-color: #fff;
	}

	&:after{
		color: #333;
	}

	&:active{
		color: #333;
	}

	&:before{
		color: #333;
	}
}

.hamburger{
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
	-webkit-transition: 250ms ; 
    -moz-transition: 250ms ;
    -o-transition: 250ms ;
    transition: 250ms ;

	&:hover{
		width: 36px;
		height: 36px;
	}
}


.hamburger path:nth-child(1){
	-webkit-transition: 250ms ; 
    -moz-transition: 250ms ;
    -o-transition: 250ms ;
    transition: 250ms ;
}

.hamburger path:nth-child(3){
	-webkit-transition: 250ms ; 
    -moz-transition: 250ms ;
    -o-transition: 250ms ;
    transition: 250ms ;
}



