#meet-container {
	background-image: url("beige-2.png");
}

#meet-opening-text {
	font-family: "Myriad Pro";
	font-size: 4em;
	text-align: center;
	height: 100px;
	line-height: 100px;
	color: #333;
}

#hugh-container{
	height: 500px;
}
.kat-photo {
	float: right;
	height: 500px;
}

.tunch-photo {
	float: right;
}

#zack-container {
	height: 500px;
}
.zack-photo {
	float: right;
}