.centered-container{
  padding: 25px;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: center;
}

.open-positions-left-spacer{
  flex-grow: 1;
  min-width: 7em;
  background-color: tomato;
}

.open-positions-container{
  flex-grow: 2;
  max-width: 480px;
}

.open-positions-right-spacer{
  flex-grow: 1;
  min-width: 7em;
  background-color: tomato;
}
