@import "bootstrap";

body, html {
	background-color: #eee;
}

#home-page {
	background-image: url("green-2.png");
  	background-repeat: repeat;
}

#home-container-1 {
  position: relative;
  height: 700px;
  width: 1300px;
  display: table;
  margin: 0 auto;
  font-family: "Myriad Pro", serif;
  font-size: 5em;
  color: #fff;
  letter-spacing: 2px;
}

#outter-home-container-2 {
	background-image: url("beige-2.png");
}

#inner-home-container-2 {
	height: 700px;
	width: 1300px;
	margin: 0 auto;
	display: table;
	position: relative;
	img {
		display: table-cell;
		vertical-align: middle;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	p {
		display: table-cell;
		vertical-align: middle;
		width: 450px;
		margin-left: 50px;
		font-family: "Myriad Pro", serif;
		font-size: 1.5em;
		line-height: 1.4em;
	}
}

#home-container-3 {
	position: relative;
	width:980px;
	height: 700px;
	margin: 0 auto;
}

.sesa-logo {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: table-cell;
}

#motto-container {
	display: table-cell;
	width: 1000px;
	vertical-align: middle;
}

#motto-1{
	position: relative;
	display: none;
	height: 50px;
	padding-top: 30px;
}

#motto-2{
	position: relative;
	display: none;
	text-align: center;
	height: 50px;
	padding-top: 30px;
}

#motto-3{
	position: relative;
	display: none;
	text-align: center;
	height: 50px;
	padding-top: 30px;
}

#feature-container {
	position: absolute;
	height: 100%;
	width: 980px;
}

#outer-text-container {
	position: relative;
}

#inner-feature-container-1{
	display: inline-block;
	vertical-align: middle;
	margin: 175px 22px;
	background-color: #222;
	height: 350px;
	overflow: hidden;
	color: #eee;
	line-height: 80px;
	text-align: center;
	font-family: "Nirmala UI";
	font-size: 24px;

	span a{
		position:absolute; 
 		width:270px;
  		height:350px;
  		z-index: 1;
	}
}


#inner-feature-container-2{
	display: inline-block;
	vertical-align: middle;
	margin: 0 22px;
	background-color: #222;
	height: 350px;
	overflow: hidden;
	color: #eee;
	line-height: 80px;
	text-align: center;
	font-family: "Nirmala UI";
	font-size: 24px;
}

#inner-feature-container-3{
	display: inline-block;
	vertical-align: middle;
	margin: 0 22px;
	background-color: #222;
	height: 350px;
	overflow: hidden;
	color: #eee;
	line-height: 80px;
	text-align: center;
	font-family: "Nirmala UI";
	font-size: 24px;

	span a{
		position:absolute; 
 		width:270px;
  		height:350px;
  		z-index: 1;
	}
}

.text-1 {
	position: absolute;
	height: 80px;
	width: 270px;
}

.text-2 {
	position: absolute;
	height: 80px;
	width: 270px;
}

.text-3 {
	position: absolute;
	height: 80px;
	width: 270px;
}

.hovering-text-1 {
	position: absolute;
	opacity: 0;
	height: 80px;
	width: 270px;
}


.hovering-text-2 {
	position: absolute;	
	opacity: 0;
	height: 80px;
	width: 270px;
}


.hovering-text-3 {
	position: absolute;
	opacity: 0;
	height: 80px;
	width: 270px;
}






