<% provide(:title, 'Events') %>
<div class="quotes">
<p>~ Twenty years from now you will be more disappointed by the things that you didn't do by the ones that you did do<br>-Mark Twain</p>
</div>
<div class="event-posts">
  <%= render @event_posts %>
</div>


<% if admin? %>
<%= link_to 'New Event post', new_event_post_path %>
<% end %>
