<footer>
  <div class="row">
    <div class="proud small-12 medium-12 large-3 columns">
      Proudly Made in SITE Laboratory<br>
      © SESA 2016 | Built by  <%= link_to "Tucker", "http://meneliktucker.me/" %>
    </div>

    <div class="links small-12 medium-12 large-7 columns">
      <div class="row">
        <div class="columns small-12 medium-12 large-4">
          <%= mail_to "uottawa.sesa@gmail.com", "Contact Us", encode: 'hex' %>
        </div>
        <div class="columns small-12 medium-12 large-4">
          <%= link_to "Join SESA", join_path %>
        </div>
        <div class="columns small-12 medium-12 large-4">
          <%= link_to "Code of Conduct", code_of_conduct_path %>
        </div>
      </div>
    </div>
  </div>
</footer>
