<footer id="footer">
	<p>© Copyright 2014
	<div class="social-links">
  <%= link_to(image_tag("twitter.png", size:"40x40"), "https://twitter.com/uOttawaSESA")%>
  <%= link_to(image_tag("facebook.png", size:"40x40"), "https://t.co/PuWQ8jANwD") %>
  	</div>
 	</p>
</footer>