<div id="outter-footer-container">
	<div id="inner-footer-container">
		<big data-toggle="modal" data-target="#contact_modal">Contact</big> | <big data-toggle="modal" data-target="#join_modal">Join</big>
		<%= render 'join_modal' %>
		<%= render 'contact_modal' %>
	</div>
</div>